/* .h2 {
    text-align: center;
}

.p {
    text-align: center;
} */

/* Style fot the website */

h1 {
    display: inline;  
    text-align: bottom;
}
.navbar li {
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    cursor: pointer;
}

.navbar-brand {
    font-weight: bold;
    font-size: 24px;
}

/* Style for figure*/
#big{
    margin-left:100px;
}

.jumbotron jumbotron fluid_text-center{
    background-color: #95A3B3;
}